<div class="container">
    <div>
        <h2><i class="fa-solid fa-angle-left"></i>Request to book</h2>
    </div>
    <div class="booking-review">
        <!-- login-section -->
        <div class="login-section">
            <div class="rare">
                <div>
                    <h5>This is a rare find.</h5>
                    <p>{{shortletData.name}}'s place is usually booked.</p>
                </div>
                <p>icon</p>
            </div>
            <div class="trip-details">
                <h3>Your trip</h3>
                <div class="trip">
                    <div>
                        <h5>Dates</h5>
                        <p>{{checkin | date}} - {{checkout | date}}</p>
                    </div>
                </div>
                <div class="trip">
                    <div>
                        <h5>Guests</h5>
                        <p>1 guest</p>
                    </div>
                </div>
                <hr>
                <h3>Click to pay</h3>
                <div class="payment-options">
                    <div>
                        <h5>Pay in full</h5>
                    <p>Pay the total now and you're all set.</p>
                    </div>
                    <div>
                        <p>₦{{ total }}</p>
                        <!-- checkbox here -->
                    </div>
                </div>
                <hr>
                <div>
                    <h5>Log in or sign  up to book</h5>
                    <button class="btn">Continue</button>
                    <button class="btn">With google</button><!-- google logo -->
                </div>
            </div>
        </div>
        <!-- bill-section -->
        <div class="bill-section">
            <div style="display:flex;">
                <img src="{{shortletPictures[0].url}}" alt="">
                <div style="height: 1px; padding-left: 0.5rem;">
                    <div style="line-height: 0.25rem;">
                        <p style="font-size: 12px;">Entire rental unit</p>
                        <p style="font-size: 14px;">Canteras Luxury seafront Penthouse</p>

                    </div>
                    <div class="rating">
                        <p>★ {{shortletData.rating}}</p>
                        <p>(136 reviews)</p>
                        <p>· Superhost</p>
                    </div>
                </div>
            </div>
            <hr>
            <p style="padding: 0.5rem 0rem;">Your booking is protected by HMCover</p>
            <hr>
            <div>
                <h4>Price details</h4>
                <div class="bill">
                    <p>₦{{shortletData.price}} x {{ nights }} nights</p>
                    <p>₦{{ calculateNumberOfNights }}</p>
                </div>
                <div class="bill">
                    <p>Cleaning fee</p>
                    <p>₦107</p>
                </div>
                <div class="bill">
                    <p>HMS Service fee</p>
                    <p>₦237</p>
                </div>
                <hr>
                <div class="bill">
                    <p>Total(NGN)</p>
                    <p>₦{{ total }}</p>
                </div>
            </div>

        </div>
    </div>
</div>