h2 {
  font-size: 1.6rem;
  padding: 2rem 0rem;
}
.rare {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 600px; */
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}

.trip-details h3 {
  padding: 1rem 0rem;
}

.trip {
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.trip > p {
  text-decoration: underline;
}

.booking-review {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: last baseline;
  gap: 0.5rem;
  font-size: 12px;
}

.bill-section {
  /* position: sticky;
  top: 70px; */
  /* min-width: 350px; */
  border: 1px solid grey;
  padding: 1.2rem;
  /* max-height: 500px; */
  border-radius: 10px;
  margin-left: 4rem;
  /* sticky */
  position: sticky;
  top: 70px;
}
img {
  max-width: 30%;
  max-height: auto;
}

.bill {
  display: flex;
  justify-content: space-between;
}

.payment-options {
  background-color: #ff0066;
  padding: 10px 0;
  border: 0;
  border-radius: 12px;
  color: white;
}

/* goole colors */

#g {
  color: #4285f4;
}
#o_first {
  color: #ea4335;
}
#o_second {
  color: #fbbc05;
}
#g_second {
  color: #4285f4;
}
#l {
  color: #34a853;
}
#e {
  color: #ea4335;
}

.social_button {
  padding: 10px 0;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 20px;
}

.social_button:hover {
  background-color: #f0f0f0;
}

.hmcover_name {
  color: #ff0066;
}

@media (max-width: 425.98px) {
  .bill-section {
    margin: 0;
  }
}

@media (max-width: 320.98px) {
  .rare {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 600px; */
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
  }
}
