/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

.grey-text {
  background-color: saddlebrown;
}