.container {
  margin-top: 30px;
  padding-bottom: 30px;
}

h4 {
  font-size: 32px;
  color: #484848;
  font-weight: 600;
}

.home_link {
  color: #484848;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.home_link:hover {
  text-decoration: underline;
}

#pointing_character {
  color: rgb(118, 118, 118);
  font-size: 20px;
  font-weight: 400;
  margin: 0 20px 0 20px;
}

#account {
  color: #484848;
  font-size: 18px;
  font-weight: 500;
}

/* trips container */
.row {
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-around;
}
.col-xs-12 {
  width: 65%;
  height: 170px;
  border: 1px solid #484848;
  border-radius: 12px;
  padding-left: 0;
  margin-bottom: 20px;
}

.image_container {
  display: inline-block;
  height: 170px;
  width: 30%;
}
.apartment_container {
  color: #484848;
  padding: 6px 0 15px 20px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 70%;
}

img {
  border-radius: 12px;
  display: inline;
  width: 100%;
  height: 100%;
}

/* trips table */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.mat-column-apartmentPicture {
  width: 12%;
  padding: 10px 16px;
}

.mat-column-apartmentCountry {
  width: 18%;
}

.mat-column-apartmentName {
  width: 20%;
}
.mat-column-checkInDate {
  width: 20%;
}

.mat-column-checkOutDate {
  width: 20%;
}
.mat-elevation-z8 {
  /* margin-bottom: 50px; */
  overflow-x: scroll;
}

mat-paginator {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #484848;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #eaeaea;
}

::ng-deep
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #484848;
}

.mat-focused ::placeholder {
  color: #484848;
}

.mat-sort-header {
  color: #484848;
}

.mat-mdc-table {
  background-color: transparent;
}

.mat-mdc-paginator {
  color: #484848;
  background-color: #eaeaea;
}

.mdc-icon-button {
  color: #484848;
}

::ng-deep .mat-mdc-select-value {
  color: #484848;
}

::ng-deep .mat-mdc-select-arrow {
  color: #484848;
}

::ng-deep .mat-mdc-paginator-icon {
  fill: #484848;
}

::ng-deep .mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: #ea4335;
  --mat-mdc-button-ripple-color: rgba(255, 255, 255, 0.1);
}

.mat-mdc-header-row {
  background-color: #eaeaea;
}

::ng-deep .mat-mdc-table .mdc-data-table__row:nth-child(even) {
  background-color: #fff5f4;
}

::ng-deep .mat-mdc-table .mdc-data-table__row:nth-child(even):hover {
  background-color: #fff5f4;
}

@media only screen and (max-width: 1024px) {
  .mat-column-apartmentPicture {
    width: 20%;
    padding: 10px 16px;
  }
}

@media only screen and (max-width: 768px) {
  .mat-column-apartmentPicture {
    width: 27%;
    padding: 10px 16px;
  }

  .mat-column-checkInDate {
    width: 19%;
  }
}
