.shortlet_div {
  margin-top: 1.875rem;
  padding-bottom: 1.25rem;
}

.row {
  /* use gap instead of  */
  /* justify-content: space-around; */
  gap: 15px;
}

.col-md-3 {
  width: 310px;
  height: 400px;
  padding: 0;
  margin-bottom: 2.7rem;
  border-radius: 12px 12px 0 0;
}

img {
  width: 279px;
  height: 265px;
  border-radius: 12px 12px 12px 12px;
}

.shortlet_name {
  display: inline;
}

.shortlet_rating {
  display: inline;
}

.carousel-control-prev,
.carousel-control-next {
  visibility: hidden;
}

.carousel:hover .carousel-control-next {
  visibility: visible;
}

.carousel:hover .carousel-control-prev {
  visibility: visible;
}

.carousel-indicators > button {
  border-radius: 50%;
  height: 7px;
  width: 7px;
}

@media only screen and (max-width: 426px) {
  .row {
    justify-content: center;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .row {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1399.98px) {
  .row {
    gap: 26px;
  }
}
