<app-header></app-header>

<div class="container">
    <div class="shortlet">
        <div class="shortlet-listings">
            <img src="https://media.istockphoto.com/id/1396966560/photo/brilliant-design-of-new-home-near-a-lake.jpg?s=612x612&w=0&k=20&c=IQHzTpP2mnLELgKY_cRIYq1vvj7RgzbkUxZuUnVfMUs=" alt="">
            <div>
                <h4>Cul-de-Sac, St. Martin</h4>
                <p>7,297 kilometers away</p>
                <p>Jun 3 - 10</p>
            </div>
            <p><span>$1,000</span> night</p>
        </div>
    
        <div class="shortlet-listings">
            <img src="https://media.istockphoto.com/id/1396966560/photo/brilliant-design-of-new-home-near-a-lake.jpg?s=612x612&w=0&k=20&c=IQHzTpP2mnLELgKY_cRIYq1vvj7RgzbkUxZuUnVfMUs=" alt="">
            <div>
                <h4>Cul-de-Sac, St. Martin</h4>
                <p>7,297 kilometers away</p>
                <p>Jun 3 - 10</p>
            </div>
            <p><span>$1,000</span> night</p>
        </div>

        <div class="shortlet-listings">
            <img src="https://media.istockphoto.com/id/1396966560/photo/brilliant-design-of-new-home-near-a-lake.jpg?s=612x612&w=0&k=20&c=IQHzTpP2mnLELgKY_cRIYq1vvj7RgzbkUxZuUnVfMUs=" alt="">
            <div>
                <h4>Cul-de-Sac, St. Martin</h4>
                <p>7,297 kilometers away</p>
                <p>Jun 3 - 10</p>
            </div>
            <p><span>$1,000</span> night</p>
        </div>

        <div class="shortlet-listings">
            <img src="https://media.istockphoto.com/id/1396966560/photo/brilliant-design-of-new-home-near-a-lake.jpg?s=612x612&w=0&k=20&c=IQHzTpP2mnLELgKY_cRIYq1vvj7RgzbkUxZuUnVfMUs=" alt="">
            <div>
                <h4>Cul-de-Sac, St. Martin</h4>
                <p>7,297 kilometers away</p>
                <p>Jun 3 - 10</p>
            </div>
            <p><span>$1,000</span> night</p>
        </div>

        <div class="shortlet-listings" >
            <img src="https://media.istockphoto.com/id/1396966560/photo/brilliant-design-of-new-home-near-a-lake.jpg?s=612x612&w=0&k=20&c=IQHzTpP2mnLELgKY_cRIYq1vvj7RgzbkUxZuUnVfMUs=" alt="">
            <div>
                <h4>Cul-de-Sac, St. Martin</h4>
                <p>7,297 kilometers away</p>
                <p>Jun 3 - 10</p>
            </div>
            <p><span>$1,000</span> night</p>
        </div>


        
    </div>
</div>