.shortlet-images {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    height: 500px;
}

#img-one{
    grid-area: 1 / 1 / 5 / 6;
    width: 430px;
    height: 430px;
}

#img-two { 
    grid-area: 1 / 6 / 3 / 9;

    width: 207px;
    height: 215px;
}

 #img-three {
    grid-area: 3 / 6 / 5 / 9;
    width: 207px;
    height: 215px;
}

#img-four {
    grid-area: 1 / 9 / 3 / 12;
    width: 207px;
    height: 215px;
}

#img-five {
    grid-area: 3 / 9 / 5 / 12;;
    width: 207px;
    height: 215px;
}
.modal-button{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

.modal-button:hover {
    background-color: #f5f5f5;
    color: black;
    border: 1px solid black;
}

.amenities {
    display: flex;
    gap: 20rem;
}

.bill {
    display: flex;
    justify-content: space-between;
}

.small{
    /* font-size: 1.1rem; */
}
.reservation {
    min-width: 350px; 
    /* border: 1px solid red; */
    padding: 1.2rem;
    max-height: 450px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 3rem 4rem;
}

.reserve-btn {
    margin: auto;
  /* width: 70%; */
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reserve-btn button {
    background-color: #ff0066;
    border-radius: 5px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  /* width: 320px; */
  text-align: center;
  padding: 10px 70px;
    
    border: none;
}