<div class="container">
    <h2 style="padding-top: 1rem">{{shortletData.name}}</h2>
    <div style="display: flex; justify-content: space-between">
        <div style="display: flex; gap: 0.5rem">
            <p>★ {{shortletData.rating}}</p>
            <p>· 148 reviews</p>
            <p>· Superhost</p>
            <p>· {{shortletData.address}}</p>
        </div>
        <div style="display: flex; gap: 1rem">
            <p>Share</p>
            <p>Save</p>
        </div>
    </div>
    
    <div class="parent">
        <div class="div1">
            <img src="{{shortletPictures[0].url}}" alt="apartment-pic" />
          </div>
          <div class="div2">
            <img src="{{shortletPictures[1].url}}" alt="apartment-pic" />
          </div>
          <div class="div3">
            <img src="{{shortletPictures[2].url}}" alt="apartment-pic" />
          </div>
          <div class="div4">
            <img src="{{shortletPictures[3].url}}" alt="apartment-pic" />
          </div>
          <div class="div5">
            <img src="{{shortletPictures[4].url}}" alt="apartment-pic" />
          </div>
      
    </div>
    <!-- flex -->

    <div style="display: flex; padding-top: 2rem;">
        <div>
            <div>
                <h2>Entire home hosted by {{shortletData.name}}</h2>
                <div style="display: flex; gap: 0.5rem">
                    <p>10 guests</p>
                    <p>4 bedrooms</p>
                    <p>5 beds</p>
                    <p>3 baths</p>
                </div>
                <hr />
                
                <div style="display: flex; gap: 0.5rem">
                    <i class="pi-calendar"></i>
                    <div>
                        <h5>Designed by</h5>
                        <p>Cadaval & Solà-Morales</p>
                    </div>
                </div>
                
                <div style="display: flex; gap: 0.5rem">
                    <p>icon</p>
                    <div>
                        <h5>Featured in</h5>
                        <p>The New York Times, January 2014<br />Wallpaper*, May 2015</p>
                    </div>
                </div>
        
                <div style="display: flex; gap: 0.5rem">
                    <p>icon</p>
                    <div>
                        <h5>Free cancellation for 48 hours.</h5>
                    </div>      
                </div>
            </div>
            <hr>

    
                <p>Beautiful 4 bedroom architecturally designed villa, with infinity pool and floor to ceiling views in almost every room of the sea and Cap de Creus national park, in beautiful working fishing village in Northern Spain.</p>
                <h5>The space</h5>
                <p>The house has been featured in the New York Times and in Wallpaper.</p>
                <h5>Show more</h5>
            
                <hr>
                <h4>Where you'll sleep</h4>
                <p>carousel</p>
                <hr>
                <h4>What this place offers</h4>
                <!-- amenities -->
                <div class="amenities">
                    <div>
                        <p>Beach access</p>
                        <p>Bay view</p>
                        <p>Ocean View</p>
                        <p>Wifi</p>
                    </div>
                    <div>
                        <p>Park view</p>
                        <p>Sea view</p>
                        <p>Kitchen</p>
                        <p>Free parking on premises</p>
                    </div>
                            
                </div>
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modal-button" data-bs-toggle="modal" data-bs-target="#exampleModalx" (click)="toggleAmenities()">
                        Show all 49 amenities
                    </button>
                      
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalx" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="padding: 1rem;"></button>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">What this place offers</h4>
                                </div>
                                    
                                <div class="modal-body">
                                    <h6>Scenic view</h6>
                                    <p>Park view</p>
                                    <hr>
                                    <p>Bay view</p>
                                    <hr>
                                    <p>Pool view</p>
                                    <hr>
                                    <p>Beach view</p>
                                    <hr>
                                    <p>Sea view</p>
                                    <hr>
                                    <p>Ocean view</p>
                                    <hr>
                                    <h6>Bathroom</h6>
                                    <p>Bathtub</p>
                                    <hr>
                                    <p>Hair dryer</p>
                                    <hr>
                                    <p>Outdoor shower</p>
                                    <hr>
                                    <p>Hot water</p>
                                    <hr>
                                </div>
                            </div>
            
                        </div>
                    </div>
                    <hr>
                    <div>
                        <!-- <h5>Select checkout date</h5>
                        <p>Minimum of 5 nights</p> -->
                        <h5>5 nights in {{shortletData.address}} </h5>


                        <!-- <h5>Inline</h5> -->
                        <!-- <p-calendar [(ngModel)]="date14" [inline]="true" [showWeek]="true" [style]="{'background-color': 'blue'}"></p-calendar> -->

                        <!-- <p-calendar [(ngModel)]="date14" [inline]="true"></p-calendar> -->


                        <p>{{checkinDate | date}} - {{checkoutDate | date}}</p>
                        Check in: <input type="date" name="" id="" [(ngModel)]="checkinDate">
                        Check out: <input type="date" name="" id="" [(ngModel)]="checkoutDate">
                        <br>
                        <button (click)="fetchDateSelected()">Book shortlet</button>
                    </div>
                    
                    
                </div>
        </div>
        
        
                    
                <!-- here -->
        <!-- reservation -->
        <div class="reservation">
            <div   style="display: flex; justify-content: space-between; ">
                <!-- <p ><span style="font-size: 1.3rem; font-weight: bold;">$509</span> night</p> -->
                <p >${{shortletData.price}} per night</p>
                <div  style="display: flex; gap: 0.1rem;">
                    <p>★ {{shortletData.rating}}</p> 
                    <p>· 148 reviews</p>
                </div>
                
            </div>
            <!-- check in and out picker -->
            
            <div class="reserve-btn">
                <button>Reserve</button>
                <p class="small">You won't be charged yet</p>
            </div>
            <!-- if check in date and checkout dates are picked, display this -->
            <div class="bill">
                <p>${{shortletData.price}} x 3 nights</p>
                <p>0000</p>
            </div>
            <div class="bill">
                <p>Cleaning fee</p>
                <p>$107</p>
            </div>
            <div class="bill">
                <p>Airbnb service fee</p>
                <p>$231</p>
            </div>
            <hr>
            <div class="bill">
                <p>Total before taxes</p>
                <p>$1,864</p>
            </div>
        </div>
    </div>


  <hr>  
  
  <!-- end -->
  
</div>