.container {
  padding-bottom: 4.375rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* i added this two below */
  /* max-width: 1120px;
  margin: auto; */
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
}
.div1 > img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
}

.div2 > img {
  max-width: 100%;
  height: 100%;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5;
}
.div3 > img {
  max-width: 100%;
  height: 100%;
  border-radius: 0 20px 0 0;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}

.div4 > img {
  max-width: 100%;
  height: 100%;
}
.div5 {
  grid-area: 2 / 4 / 3 / 5;
}
.div5 > img {
  max-width: 100%;
  height: 100%;
  border-radius: 0 0 20px 0;
}

/* .modal-button {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.modal-button:hover {
  background-color: #f5f5f5;
  color: black;
  border: 1px solid black;
} */

/* .amenities {
  display: flex;
  gap: 20rem;
} */

.col-md-6 {
  padding: 6px 12px;
}

.bill {
  display: flex;
  justify-content: space-between;
}

.reservation {
  /* min-width: 350px; */
  /* border: 1px solid red; */
  padding: 1.2rem;
  /* max-height: 480px; */
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 4rem;
  /* sticky */
  /* position: sticky; */
  top: 70px;
}

.shortlet_content {
  margin-top: 2rem;
}

.reserve-btn {
  margin: auto;
  /* width: 70%; */
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reserve-btn button {
  background-color: #ff0066;
  border-radius: 5px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  /* width: 320px; */
  text-align: center;
  padding: 10px 70px;

  border: none;
}

.col {
  /* width: 50%; */
  /* padding-left: 12px; */
  padding-right: 0;
}

.reserve_datepicker {
  width: 150px;
  padding: 0;
}

.guest_counter {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border: 1px solid #4a4a4a;
  border-radius: 10px;
}

.guest_number {
  text-align: center;
}

.guests_label {
  color: #4a4a4a;
  font-size: 14px;
  padding-left: 12px;
  margin: 0;
}

.maxGuestReached {
  visibility: hidden;
}

.minGuestReached {
  visibility: hidden;
}

mat-datepicker-toggle {
  color: #4a4a4a !important;
}

mat-label {
  color: #4a4a4a;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  border: 1px solid #4a4a4a;
  border-radius: 10px;
}

::ng-deep
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #4a4a4a;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  height: 0;
}

/* comments */

.col-md-5 {
  margin: 10px 25px;
}

.signedIn_user {
  /* width: 70%; */
  /* margin: 20px 25px; */
  padding-bottom: 50px;
}

.form-control {
  border: 1px sold #4a4a4a;
}

.form-control:focus {
  box-shadow: none;
  border-color: #4a4a4a;
}

#see-more {
  display: inline-block;
  background-color: #8598a7;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  border: none;
}

.see-more:hover {
  background-color: rgb(167, 167, 167);
}

.send_comment {
  margin-top: 10px;
  width: 20%;
  background-color: #ff0066;
  border: 0;
  color: white;
  border-radius: 5px;
  padding: 7px 0;
}

@media (min-width: 767px) and (max-width: 1025px) {
  .reservation {
    margin-left: 0;
  }

  .col {
    padding: 0 12px;
  }

  .reserve_datepicker {
    width: 100%;
  }

  .secondDatepicker {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1440px) {
  mat-form-field {
    width: 48%;
  }

  .reservation {
    margin-left: 0;
    margin-top: 0.75rem;
  }

  .reserve-btn > button {
    padding: 10px 60px;
  }
}

@media only screen and (max-width: 426.98px) {
  .reservation {
    margin-left: 0;
    margin-top: 7px;
  }

  .removeOnScreen425 {
    display: none;
  }

  .reserve_datepicker {
    width: 97%;
  }

  .secondDatepicker {
    margin-top: 10px;
  }

  .reserve-btn > button {
    padding: 10px 80px;
  }
}
