<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand">Logo Name</a>

    <div class="float-end links">
      <div class="profile">
        <button class="button_profile">
          <img
            src="../../../assets/svg/content.svg"
            style="height: 30px; width: 30px"
            alt=""
          />
          <img
            class="profile_icon"
            style="width: 30px; height: 30px"
            src="../../../assets/svg/profile.svg"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>
</nav>
