/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .removemine {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .removeboot {
    display: none;
  }
}
.logo_color {
  color: #ea4335;
}

p {
  display: inline;
  padding: 0 12px;
}

.navbar {
  padding: 1.3rem 0;
  border-bottom: 1px solid #e6eaee;
}

.search > input {
  border-radius: 5rem;
  padding: 0.8rem 3rem;
  /* text-align: start; */
}

.navbar-brand {
  padding-left: 108px;
}

.links {
  /* padding-right: 108px; */
}

.button_profile {
  background-color: transparent;
  border-radius: 19px;
  padding: 5px 13px;
  border: 1px solid #e6eaee;
}

.profile_icon {
  margin-left: 10px;
}

.profile_div_not_auth {
  /* display: none; */
  position: absolute;
  right: 120px;
  top: 75px;
  width: 200px;
  height: 160px;
  z-index: 9;
  background-color: white;
  border: 1px solid #e6eaee;
  border-radius: 12px;
}

.profile_div_auth {
  position: absolute;
  right: 120px;
  top: 75px;
  width: 200px;
  height: 210px;
  z-index: 9;
  background-color: white;
  border: 1px solid #e6eaee;
  border-radius: 12px;
}

.showProfile_div {
  display: none;
}

ul > li {
  padding: 10px 0 5px 15px;
  cursor: pointer;
}

ul > li:hover {
  background-color: #e6eaee;
}

.social_buttons > button {
  padding: 10px 0;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 15px;
}

.social_buttons > button:hover {
  background-color: #f0f0f0;
}

/* goole colors */

#g {
  color: #4285f4;
}
#o_first {
  color: #ea4335;
}
#o_second {
  color: #fbbc05;
}
#g_second {
  color: #4285f4;
}
#l {
  color: #34a853;
}
#e {
  color: #ea4335;
}

.Admin {
  margin: 0;
  font-weight: 600;
  cursor: pointer;
}

.notification {
  color: white;
  background: red;
  border-radius: 50%;
  padding: 0px 4px;
  font-size: 12px;
  position: relative;
  bottom: 10px;
}

@media only screen and (max-width: 320px) {
  .navbar-brand {
    padding-left: 0;
  }
}
