.filter-bar {
  display: flex;
  justify-content: space-around;
  padding: 0 0 25px 0;
  height: 85px;
}

img {
  width: 24px;
  height: 24px;
  display: block;
  margin: auto;
}

.property {
  opacity: 0.6;
}

.property:hover {
  cursor: pointer;
  opacity: 1;
  border-bottom: 2px solid black;
}
p {
  margin-bottom: 0;
}

.ifSelected {
  opacity: 1;
  border-bottom: 2px solid black;
}

/* p:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
} */
