<!-- <div class="container">
    <div class="form">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <div class="input-wrapper">
              <label>Title</label>
                <input formControlName="name" type="text" required >
            </div>


            <div class="input-wrapper">
                <label>Description</label>
                <input formControlName="description" type="text" required >
                <textarea formControlName="description"></textarea>
            </div>

            <div class="input-wrapper">
                <label>Address</label>
                <input formControlName="address" required>
            </div>

            <div class="input-wrapper">
                <label>Price(NGN)</label>
                <input formControlName="price" type="number" placeholder="Per Night" required>
            </div>


        
            <div class="input-wrapper">
                <label>Guest Capacity</label>
                <input formControlName="maxNoOfGuests" type="number" required>
            </div>
        
            <div class="input-wrapper">
                <label>
                    No of Bedrooms
                    
                </label>
                <input formControlName="noOfBedrooms" type="number" required>
            </div>
        
            <div class="input-wrapper">
                <label>
                    No of Bathrooms
                </label>
                <input formControlName="noOfBathrooms" type="number">
            </div>
            <div class="input-wrapper">

                <label></label>
                <select formControlName="houseType" class="form-control" required>
                    <option value="" disabled selected>Select your House Type</option>
                    <option value="PRIVATE_ROOM">Private Room</option>
                </select>
                
            </div>


            <div class="input-wrapper">
                  <label></label>
                    <select formControlName="propertyType" class="form-control" required>
                        <option value="" disabled selected>Select your Property Type</option>
                        <option value="HOTEL">Hotel</option>
                    </select>
            </div>

            <div formGroupName="amenities" >
                <div class="amenities">
                    <div>
                        <div>
                        
                            <input id="gym" type="checkbox" formControlName="gym">
                            <label for="gym">Gym</label>
                        </div>
    
                        
                        <div>
                            
                            <input type="checkbox" formControlName="pool">
                            <label for="pool">Pool</label>
                        </div>
    
                        <div>
                            
                            <input type="checkbox" formControlName="wifi">
                            <label for="wifi">Free Wi-Fi</label>
                        </div>
                    </div>
                    <div>
                        <div>
                        
                            <input id="gym" type="checkbox" formControlName="gym">
                            <label for="gym">Gym</label>
                        </div>
    
                        
                        <div>
                            
                            <input type="checkbox" formControlName="pool">
                            <label for="pool">Pool</label>
                        </div>
    
                        <div>
                            
                            <input type="checkbox" formControlName="wifi">
                            <label for="wifi">Free Wi-Fi</label>
                        </div>
                    </div>
                </div>                
            </div>

            <div formArrayName="images" >
                <input
                type="file"
                accept=".png, .jpg, .jpeg"
                (change)="onImageUpload($event)"
                multiple
                required
              />

            </div>
                
        
            
            <button
            [disabled]="!myForm.valid"
            type="submit">Request to Add Home</button>
          </form>
    </div>

    <h1>{{ user_email }}</h1>

   
</div>
   -->


<div class="container">
    
</div>