.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    /* align-items: center; */
    
}

input {
    width: 30rem;
    height: 2.5rem;
}

label {
    font-size: 1.5rem; 
}

.control {
    position: fixed;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: fixed;
    bottom: 30px;
    left: 120px;
}

.controls {
    display: flex;
    gap: 1rem;
}

button {
    border: 1px solid red;
    border-radius: 10px;
    padding: 0.2rem 1rem;
    color: red;
    background-color: ;
}