<div class="container">
  <!-- <ng-container *ngIf="(asyncTabs | async) === null">
    Loading tabs...
  </ng-container>

  <mat-tab-group>
    <mat-tab *ngFor="let tab of asyncTabs | async">
      <ng-template mat-tab-label>{{ tab.label }}</ng-template>
      {{ tab.content }}
    </mat-tab>
  </mat-tab-group> -->

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Pending Requests">Content 1</mat-tab>
    <mat-tab label="All Users"> </mat-tab>
    <!-- <mat-tab label="Third">Content 3</mat-tab> -->
  </mat-tab-group>
</div>
