.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 13px 20px;
  background-color: white;
  border-top: 1px solid #e6eaee;
}

p {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

.span_1 {
  margin-left: 20px;
}

i {
  color: #ea4335;
}

.fa-instagram,
.fa-facebook {
  margin-left: 0.625rem;
}
